<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="AdventureWorks2014Connection" connectionString="Data Source=www.avaedos.com;Initial Catalog=AdventureWorks2014;User ID=demoformation;Password=formationdemo;MultipleActiveResultSets=True;App=EntityFramework;" providerName="System.Data.SqlClient"/>
    <add name="AlwaysEncryptedConnection" connectionString="Data Source=;Initial Catalog=TestAlwaysEncrypt;User ID=;Password=;Column Encryption Setting=Enabled;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true" sameSite="Lax"/>
    <sessionState cookieless="UseCookies" cookieSameSite="Lax"/>
    <customErrors mode="On" defaultRedirect="~/Error.aspx">
      <error statusCode="400" redirect="~/Error.aspx?code=400"/>
      <error statusCode="500" redirect="~/Error.aspx?code=500"/>
    </customErrors>
    <pages validateRequest="false"/>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlClient"/>
      <add name="SQL Server Data Provider" invariant="System.Data.SqlClient" description=".NET Framework Data Provider for SQL Server" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Content-Security-Policy" value="default-src 'self'; object-src 'none'; base-uri 'self'; frame-ancestors 'none'; form-action 'self'; img-src 'self' data:; script-src 'self'; style-src 'self'"/>
        <add name="Content-Security-Policy-Report-Only" value="default-src 'self'; object-src 'none'; base-uri 'self'; frame-ancestors 'none'; form-action 'self'; img-src 'self' data:; script-src 'self'; style-src 'self'"/>
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400"/>
      <remove statusCode="500"/>
      <error statusCode="400" path="/Error.aspx?code=400" responseMode="Redirect"/>
      <error statusCode="500" path="/Error.aspx?code=500" responseMode="Redirect"/>
    </httpErrors>
  </system.webServer>
</configuration>